body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial;
}

nav {
  background: #020617;
  padding: 15px;
  text-align: center;
}

.hero {
  text-align: center;
  padding: 60px;
}

.hero h1 {
  color: #38bdf8;
  font-size: 40px;
}

button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.card {
  background: #1e293b;
  padding: 25px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #334155;
}

footer {
  background: #020617;
  text-align: center;
  padding: 15px;
}
